version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: DWFU_postgres
    environment:
      POSTGRES_USER: NoName
      POSTGRES_PASSWORD: HaveName
      POSTGRES_DB: DWFU_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: